%h2 Edit Movie
 
= form_tag movie_path(@movie), :method => :put do
 
	= render :partial => 'movie_form'
 
  = submit_tag 'Save Changes'
  = button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'